<div class="ui menu">
    <div class="ui container">
        <div class="header item borderless">
            <h1 class="ui header">
                Angular4+投票系统
            </h1>
        </div>
    </div>
</div>
<div class="ui main text container">
    <form class="ui large form segment">
        <h3 class="ui header">增加投票</h3>
        <div class="field">
            <label for="title">标题:</label>
            <input name="title" #newTitle>
        </div>
        <div class="field">
            <label for="link">链接:</label>
            <input name="link" #newLink>
        </div>
        <button (click)="addArticle(newTitle,newLink)" class="ui positive right floated button">添加</button>
    </form>
    <div class="ui grid posts">
        <app-article *ngFor="let article of articles" [article]="article">

        </app-article>
    </div>
</div>